


header  { grid-area: header; }
main { grid-area: main; }
aside   { grid-area: aside; }
footer  { grid-area: footer; }

body {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows:1fr 3fr 1fr;
    grid-template-areas: "header header header" "main main aside" "footer footer footer";
}

header {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

article {
    background-color: brown;
}

aside {
    background-color: green;
   
}

footer {
    background-color: olivedrab;
}
section {
    background-color: lightcoral;
    padding: 15px;
    margin-bottom: 15px;

}

section h2 {
    margin-bottom: 8px;
}

section ul {
    margin-left: 20px;
}
aside h2 {
    margin-bottom: 12px;
}